<div class='grocery' data-id="<%= grocery.id %>">
  <%= form_with(model: grocery) do |f| %>
    <%= f.check_box :checked %>
    <%= f.text_field :name %>
  <% end %>
  <%= button_to "X", grocery_path(grocery), method: :delete, remote: true %>
</div>
